main#the-whole-enchilada-recipe-saver--KZzQjJcI2kdN0Qnn7X7AgyoO8W6VBwuOPIcyztpKBaU {
  height: 300px;
  width: 300px;
  overflow: auto;
}

.WholeEnchiladaRecipes_images-section--KZzQjJcI2kdN0Qnn7X7AgyoO8W6VBwuOPIcyztpKBaUp {
  width: 100%;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

img.image--KZzQjJcI2kdN0Qnn7X7AgyoO8W6VBwuOPIcyztpKBaUp {
  width: 100%;
}
