.RecipeView {
  &__page {
    textarea {
      border: 0 none white;
      overflow: hidden;
      padding: 0;
      outline: none;
      background-color: #f4f4f4;
      resize: none;
    }
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__images-container {
    display: flex;
  }

  &__parsed-line-actions-container {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    justify-content: space-between;
    min-height: 80px;
  }

  &__parsed-line-delete {
    width: 25%;
    text-align: right;
  }

  &__parsed-line-item-container {
    width: 30%;
    display: flex;
    padding-right: 1%;
  }

  &__parsed-lines-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    overflow: auto;
    padding: 1%;
  }

  &__parsed-line-text {
    width: 50%;
  }

  &__steps-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
    padding-bottom: 15%;
  }

  &__step-item-container {
    width: 33%;
  }

  &__item-container {
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
  }

  &__builder-commands-container {
    padding-top: 5%;
  }

  &__actions-container {
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
  }

  &__steps-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__ingredients-update-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__tools-update-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__tips-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  &__tips-update-form {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &__tab-content {
    display: none;
  }

  &__tabs {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__tab {
    color: black;
    cursor: pointer;
    padding: 1em;
  }

  &__active-tab-label {
    display: block;

    color: blue;
  }

  &__active-tab-content {
    display: block;
  }

  &__tab-content-container {
    background: #f4f4f4;
  }

  &__content-container {
    display: none;
  }
}

@media(min-width: 1200px) {
  .RecipeView {
    &__content-container {
      display: flex;
    }

    &__side {
      padding-left: 1%;
    }

    &__main {
      display: flex;
      flex-wrap: wrap;
      height: 1000px;
      justify-content: space-evenly;
    }

    &__steps-container {
      width: 30%;
    }

    &__item-container {
      padding-left: 0;
      padding-right: 0;
    }

    &__tabs {
      display: none;
    }

    &__tab-content-container {
      display: none;
    }
  }
}
