.RecipeView {
  max-width: 100%;
  &__full-text-container {
    white-space: pre;
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__images-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }

  &__image-container {
    max-width: 100%;
    img {
      resize: both;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }


  &__form > * {
    width: 100%;
  }

}

.recipes {
  .card {
    .featured-img {
      max-width: 250px;
    }
  }
}
