.RecipeView {
  max-width: 100%;

  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  textarea {
    min-height: 300px;
  }

  &> * {

    max-width: 100%;

    overflow: hidden;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
  }


  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__images-container {
    display: flex;
    max-width: 100%;
    flex-direction: column;
  }

  &__image-container {
    max-width: 100%;
    img {
      resize: both;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }


  &__form > * {
    width: 100%;
  }

}

.recipes {
  .card {
    .featured-img {
      max-width: 250px;
    }
  }
}
