%p
  Hello #{@resource.email}!
%p A request has been receipved to change the password for your thewholeenchilada account. 
%p= link_to 'Reset password', root_url(reset_password_token: @token)
%p If you didn't request this, please contact us immediately at info@thewholeenchilada.cc
%p Thank you,
%p Team Whole Enchilada
