- user = User.confirm_by_token(params[:confirmation_token])

- if user.errors.empty?
  .form--container-center
    %h2 Enter Password to confirm account
    = render partial: 'sessions/form', locals: {user: user}
- else
  %h1 Email was already confirmed, please try signing in
